<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.personal.dao.UserAccountDao" >
	
	<sql id="default_column">
	 `user_account`.`id`,
    `user_account`.`account`,
    `user_account`.`account_type` as accountType,
    `user_account`.`is_verified` as isVerified,
    `user_account`.`uid`,
    `user_account`.`password`,
    `user_account`.`gmt_created` as gmtCreated,
    `user_account`.`gmt_modified` as gmtModified
    </sql>
	<insert id="insert" parameterType="com.personal.model.UserAccountModel" keyProperty="id">
		insert into user_account (
		    `account`,
		   <if test="accountType !=null"> `account_type`,</if>
		    <if test="isVerified != null">`is_verified`,</if>
		    `uid`,
		    `password`,
		    `gmt_created`,
		    `gmt_modified`)
		values(
		    #{account},
		    <if test="accountType !=null">#{accountType},</if>
		    <if test="isVerified != null">#{isVerified},</if>
		    #{uid},
		    #{password},
			now(),now())
	</insert>
	<select id="queryOneByAccount" resultType="com.personal.model.UserAccount">
		select 
			<include refid="default_column"/>
		from user_account
		where account=#{account} 
		<if test="accountType != null">and account_type=#{accountType}</if>
		<if test="isVerified != null" > and is_verified = #{isVerified}</if>
	</select>
	
	<select id="countExist" parameterType="com.personal.model.UserAccount" resultType="java.lang.Integer">
		select count(*) as c
		from user_account
		where account=#{account}
	</select>
</mapper>